@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background-color: #1b262c;
}

main {
  flex: 1;
  padding: 10px 30px;
  margin-top: 5px;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noSelect:focus {
  outline: none !important;
}

@media screen and (min-width: 1280px) {
  body {
    width: 92%;
  }
  main {
    flex: 1;
    padding: 20px 60px;
    margin-top: 10px;
  }
}
.footer {
  background-color: #1b262c;
  color: #eeeeee;
  padding: 40px 15px;
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #bbe1fa;
}
.footer-group-icons {
  text-align: center;
  display: flex;
  gap: 10px;
  font-size: 35px;
}
.footer-group-icons .footer-icon {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s linear;
}
.footer-group-icons .footer-icon:hover {
  transform: scale(1.15);
}
.footer-data {
  font-size: 12px;
  text-align: center;
}
.footer-data .footer-email {
  margin-bottom: 10px;
  color: #eeeeee;
}
.footer-data .footer-email span {
  font-weight: 700;
}
.footer-data .footer-address {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.footer-image {
  display: none;
}

@media screen and (min-width: 1280px) {
  .footer {
    background-color: #1b262c;
    color: #ffffff;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #bbe1fa;
    position: relative;
  }
  .footer-group-icons {
    display: flex;
    font-size: 40px;
  }
  .footer-data {
    display: flex;
    align-items: flex-end;
    gap: 100px;
    font-size: 16px;
    text-align: center;
  }
  .footer-data .footer-address {
    text-align: center;
  }
}
.header {
  background-color: #1b262c;
  color: #eeeeee;
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 10px;
  min-width: 97%;
}
.header-section {
  display: flex;
}
.header-section img {
  width: 60px;
}
.header-section h1 {
  font-family: "Bagel Fat One", cursive;
  font-size: 24px;
  text-transform: uppercase;
  display: flex;
  letter-spacing: 5px;
  align-items: center;
  margin-left: 30px;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav-desktop {
  list-style: none;
  padding-left: 0;
  display: none;
  gap: 60px;
}
.header-nav-menu {
  position: relative;
  display: none;
  z-index: 30;
  transition: all 0.5s linear;
}
.header-nav-menu .header-nav-mobile {
  list-style: none;
  background-color: #eeeeee;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #0f4c75;
  width: 200px;
  position: absolute;
  left: -190px;
  top: 43px;
}
.header-nav-menu .header-nav-mobile li {
  width: 100%;
  transition: all 0.4s ease-out;
  border-radius: 20px;
}
.header-nav-menu .header-nav-mobile li:active {
  background-color: rgba(50, 130, 184, 0.3137254902);
}
.header-nav-menu .header-nav-mobile li:hover {
  background-color: rgba(50, 130, 184, 0.3137254902);
}
.header-nav-menu .header-nav-mobile li a {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.2em;
  padding: 15px 30px;
  color: #1b262c;
  text-decoration: none;
}
.header-nav .shadow-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-color: #bbe1fa;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 1px 1px 15px #eeeeee;
}
.header-nav .header-menu {
  border: none;
  cursor: pointer;
  background: unset;
  color: #eeeeee;
}
.header-nav .header-menu img {
  width: 45px;
  height: 45px;
}

@media screen and (min-width: 1280px) {
  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-section h1 {
    font-size: 36px;
  }
  .header-nav-desktop {
    list-style: none;
    display: flex;
    gap: 120px;
  }
  .header-nav-menu {
    display: none;
  }
  .header-nav-desktop li a {
    display: flex;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 4px;
    color: #eeeeee;
    padding: 10px 12px;
    transition: all 0.15s ease-in;
  }
  .header-nav-desktop li a:hover {
    background-color: rgba(50, 130, 184, 0.1450980392);
    border-radius: 5px;
    transform: translate(-3px, -3px);
  }
  .header-menu {
    display: none;
  }
}
/* HOME */
.home {
  display: flex;
  color: #eeeeee;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.home-container-r {
  margin: 30px 0px;
}
.home-container-r h3 {
  font-size: 20px;
  margin-bottom: 20px;
  font-style: italic;
  text-transform: capitalize;
}
.home-container-r h3 span {
  color: #bbe1fa;
}
.home-title {
  line-height: 70px;
  margin-bottom: 25px;
}
.home-title h2 {
  font-family: "Bagel Fat One", sans-serif;
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
}
.home-paragraph {
  margin-bottom: 60px;
  font-size: 18px;
}
.home .main-logo {
  width: 270px;
  height: 270px;
  filter: drop-shadow(5px -5px 15px #0f4c75) drop-shadow(5px 4px 8px #bbe1fa);
}
.home-button {
  all: unset;
  background-color: inherit;
  border: 2px solid #3282b8;
  font-family: "Roboto", sans-serif;
  letter-spacing: 3px;
  margin-top: 80px;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.home-button a {
  text-decoration: none;
  color: #eeeeee;
  text-transform: capitalize;
}
.home-button a:hover {
  color: #eeeeee;
}
.home-button:hover {
  background-color: rgba(50, 130, 184, 0.5647058824);
  box-shadow: 0px 0px 4px #bbe1fa;
}

@media screen and (min-width: 1280px) {
  .home {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Roboto", sans-serif;
  }
  .home-title h2 {
    font-size: 70px;
  }
  .home-container-r {
    width: 30%;
  }
  .home-container-r h3 {
    margin-bottom: 20px;
    font-size: 26px;
  }
}
.countries {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #eeeeee;
  font-family: "Roboto", sans-serif;
}
.countries-filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin: 30px 0 50px 0;
}
.countries-filters label {
  font-size: 20px;
  margin-right: 8px;
  letter-spacing: 3px;
  font-weight: 600;
}
.countries-filters select {
  border: none;
  color: #eeeeee;
  margin-top: 10px;
  outline: 1px solid #bbe1fa;
  font-size: 16px;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: "Roboto", sans-serif;
  background-color: #1b262c;
  width: 100%;
}
.countries-filters select:focus {
  box-shadow: 0 0 10px #bbe1fa;
}
.countries-filters input {
  border: none;
  outline: 1px solid #bbe1fa;
  background: none;
  color: #eeeeee;
  padding: 10px 15px;
  width: 100%;
  border-radius: 5px;
  background-image: url("../../assets/images/tiny-iconSearch.svg");
  background-position: right 15px center;
  background-repeat: no-repeat;
  background-size: 16px;
}
.countries-filters input:focus {
  box-shadow: 0 0 10px #bbe1fa;
}
.countries-filters input::placeholder {
  color: rgba(238, 238, 238, 0.5019607843);
}
.countries-filters .byContinent {
  margin-bottom: 15px;
}
.countries-flags .flags-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 2em;
}
.countries-flags .flags-container .flag-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.2em;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.countries-flags .flags-container .flag-card img {
  width: 40px;
  height: 25px;
  border-radius: 5px;
  margin-right: 1em;
}
.countries-flags .flags-container .flag-card-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Roboto", sans-serif;
  padding: 0px 5px;
}
.countries-flags .flags-container .flag-card-info h4 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.2em;
}
.countries-flags .flags-container .flag-card-info button {
  background: inherit;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 0.5em;
  transition: all 0.3s ease;
}
.countries-flags .flags-container .flag-card-info button:hover {
  filter: drop-shadow(0 0 0.3rem #bbe1fa);
  transform: translate(0px, 1px);
}
.countries-flags .flags-container .flag-card-info button img {
  width: 90%;
  margin: 0;
}
.countries-flags .flags-container .flag-card:hover {
  text-shadow: 0px 0px 0.4rem #bbe1fa;
  transform: translate(0px, 2px);
  box-shadow: 0px 0px 3px #bbe1fa;
}
.countries .modal {
  position: fixed;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  width: 60%;
  font-family: "Roboto", sans-serif;
}
.countries .modal-container {
  display: flex;
  flex-direction: column;
  padding: 1.9em;
  border-radius: 20px;
  background-color: #bbe1fa;
  color: #1b262c;
  border: 4px solid #0f4c75;
}
.countries .modal-container .modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.countries .modal-container .modal-header .modal-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.countries .modal-container .modal-header .modal-title img {
  width: 250px;
  border-radius: 15px;
  margin-bottom: 15px;
  border: 1px solid #0f4c75;
}
.countries .modal-container .modal-header .modal-title h3 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 800;
}
.countries .modal-container .modal-content {
  margin-bottom: 50px;
}
.countries .modal-container .modal-content-title {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: 500;
  letter-spacing: 2.5px;
  text-transform: capitalize;
}
.countries .modal-container .modal-content p {
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 1.2px;
  margin-bottom: 7px;
  font-size: 18px;
}
.countries .modal-container .modal-content-borders {
  margin-top: 20px;
  display: flex;
}
.countries .modal-container .modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  transition: all 0.2s ease;
}
.countries .modal-container .modal-footer button {
  outline: none;
  background: #0f4c75;
  border: 1px solid #0f4c75;
  font-size: 20px;
  letter-spacing: 2.5px;
  color: #eeeeee;
  padding: 8px 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.countries .modal-container .modal-footer button:hover {
  box-shadow: 0px 0px 10px #0f4c75;
  background-color: #3282b8;
}

@media screen and (min-width: 1280px) {
  .countries {
    position: relative;
  }
  .countries-filters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 35px;
  }
  .countries-filters .byCountries {
    display: flex;
    align-items: center;
    width: 20%;
  }
  .countries-filters .byContinent {
    display: flex;
    align-items: center;
    width: 20%;
    margin-bottom: 0;
  }
  .countries-filters .bySearch {
    width: 30%;
    display: flex;
  }
  .countries-filters label {
    margin-right: 10px;
  }
  .countries-filters select,
  .countries-filters input {
    width: 100%;
    margin-top: 0;
  }
  .countries-filters input {
    padding: 8px 12px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    background-image: url("../../assets/images/tiny-iconSearch.svg");
    background-position: right 15px center;
    background-repeat: no-repeat;
    background-size: 16px;
  }
  .countries-filters input::placeholder {
    color: rgba(238, 238, 238, 0.5019607843);
  }
  .countries-filters input::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
  .countries-flags .flags-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5em;
  }
}
.about-suggestions {
  font-family: "Roboto", sans-serif;
  color: #eeeeee;
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}
.about-suggestions .about {
  margin-bottom: 15px;
}
.about-suggestions .about-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 32px;
  text-transform: uppercase;
  font-family: "Bagel Fat One", sans-serif;
  letter-spacing: 0.14em;
  text-shadow: 1px 1px 3px #bbe1fa;
  font-weight: 600;
}
.about-suggestions .about-paragraph {
  margin-bottom: 25px;
}
.about-suggestions .about-paragraph b {
  color: #bbe1fa;
}
.about-suggestions .about-paragraph h4 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}
.about-suggestions .about-paragraph h4::before {
  content: "•";
  margin-right: 10px;
}
.about-suggestions .about-paragraph p {
  font-size: 14px;
  text-align: justify;
  line-height: 1.55em;
  font-weight: 300;
}
.about-suggestions hr {
  display: none;
}
.about-suggestions .suggestions {
  display: flex;
  flex-direction: column;
}
.about-suggestions .suggestions-title {
  margin-bottom: 25px;
}
.about-suggestions .suggestions-title h2 {
  text-align: center;
  margin-bottom: 3px;
  font-size: 32px;
  font-family: "Bagel Fat One", sans-serif;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px #bbe1fa;
}
.about-suggestions .suggestions-title p {
  text-align: center;
  font-size: 15px;
}
.about-suggestions .suggestions-form {
  display: flex;
  flex-direction: column;
}
.about-suggestions .suggestions-form label {
  display: block;
  margin-bottom: 10px;
  letter-spacing: 3px;
}
.about-suggestions .suggestions-form input {
  border: none;
  outline: 1px solid #bbe1fa;
  background: inherit;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 20px;
  color: #eeeeee;
}
.about-suggestions .suggestions-form input:focus {
  box-shadow: 0 0 10px #bbe1fa;
}
.about-suggestions .suggestions-form input::placeholder {
  font-family: "Roboto", sans-serif;
  color: rgba(238, 238, 238, 0.5019607843);
}
.about-suggestions .suggestions-form textarea {
  border: none;
  outline: 1px solid #bbe1fa;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px 15px;
  background: inherit;
  color: #eeeeee;
  font-family: "Roboto", sans-serif;
}
.about-suggestions .suggestions-form textarea:focus {
  box-shadow: 0 0 10px #bbe1fa;
}
.about-suggestions .suggestions-form textarea::placeholder {
  font-family: "Roboto", sans-serif;
  color: rgba(238, 238, 238, 0.5019607843);
}
.about-suggestions .suggestions-form button {
  background: inherit;
  outline: none;
  margin: 0 auto;
  border: 1px solid #3282b8;
  color: #eeeeee;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 15px;
  width: 40%;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.about-suggestions .suggestions-form button:hover {
  background-color: rgba(50, 130, 184, 0.5647058824);
  box-shadow: 0px 0px 4px #bbe1fa;
}

@media screen and (min-width: 1280px) {
  .about-suggestions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5%;
  }
  .about-suggestions .about {
    width: 50%;
  }
  .about-suggestions hr {
    display: block;
    border: 1px solid rgba(187, 225, 250, 0.2078431373);
  }
  .about-suggestions .suggestions {
    align-items: center;
    width: 50%;
  }
  .about-suggestions .suggestions-title {
    width: 80%;
  }
  .about-suggestions .suggestions-form {
    width: 80%;
  }
}

/*# sourceMappingURL=main.css.map */
