@import 'global/variables';
@import 'global/globals';

@import 'components/footer';
@import 'components/header';
@import 'components/sweetAlert';

@import 'views/home';
@import 'views/countries';
@import 'views/about&suggestions';