* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    height: 100vh;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    background-color: $blackBackground;
  }

  main {
    flex: 1;
    padding: 10px 30px;
    margin-top: 5px; 
  }



  .noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  .noSelect:focus {
    outline: none !important;
}

// tooltip

.tippy-tooltip.flag-theme {
  background-color: $SuperlightBlue;
  color: $blackBackground;
  border: 1px solid $blackBackground;
  padding: 4px 8px;
  border-radius: 5px;
}

.tippy-content {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1em;

}


  @media screen and (min-width: 1280px) {
    body {
      width: 92%;
    }
  
    main {
      flex: 1;
      padding: 20px 60px;
      margin-top: 10px;
    }
  }
  

