// Colors Variables

$darkBlue: #002b5b;
$lightBlue: #1a5f7a;
$darkGreenWater: #159895;
$lightGreenWater: #57c5b6; 
$textGray: #606060;
$backgroundWhite: #eeeeee;


$blackBackground: #1b262c;
$darkyBlue: #0f4c75;
$lightyBlue: #3282b8;
$SuperlightBlue: #bbe1fa;



$lightGreenWaterTransparent: #57c5b610;


