.footer {
  background-color: $blackBackground;
  color: $backgroundWhite;
  padding: 40px 15px;
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $SuperlightBlue;

  &-group-icons {
    text-align: center;
    display: flex;
    gap: 10px;
    font-size: 35px;

    .footer-icon {
      text-decoration: none;
      color: #fff;
      transition: all 0.3s linear;

      &:hover {
        transform: scale(1.15);
      }
    }
  }

  &-data {
    font-size: 12px;
    text-align: center;

    .footer-email {
      margin-bottom: 10px;
      color: $backgroundWhite;

      span {
        font-weight:700
      }
    }

    .footer-address {
      display: flex;
      flex-direction: column;
      gap: 3px;
    }
  }

  &-image {
    display: none;
  }
}

// RESPONSIVE

@media screen and (min-width: 1280px) {
  .footer {
    background-color: $blackBackground;
    color: #ffffff;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid $SuperlightBlue;
    position: relative;

    &-group-icons {
      display: flex;
      font-size: 40px;
    }

    &-data {
      display: flex;
      align-items: flex-end;
      gap: 100px;
      font-size: 16px;
      text-align: center;

      .footer-address {
        text-align: center;
      }
    }

    
  }
}
