.countries {
  display: flex;
  flex-direction: column;
  position: relative;
  color: $backgroundWhite;
  font-family: "Roboto", sans-serif;

  &-filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin: 30px 0 50px 0;

    label {
      font-size: 20px;
      margin-right: 8px;
      letter-spacing: 3px;
      font-weight: 600;
    }

    select {
      border: none;
      color: $backgroundWhite;
      margin-top: 10px;
      outline: 1px solid $SuperlightBlue;
      font-size: 16px;
      border-radius: 5px;
      padding: 5px 10px;
      font-family: "Roboto", sans-serif;
      background-color: $blackBackground;
      width: 100%;

      &:focus {
        box-shadow: 0 0 10px $SuperlightBlue;
      }
    }

    input {
      border: none;
      outline: 1px solid $SuperlightBlue;
      background: none;
      color: $backgroundWhite;
      padding: 10px 15px;
      width: 100%;
      border-radius: 5px;
      background-image: url("../../assets/images/tiny-iconSearch.svg");
      background-position: right 15px center;
      background-repeat: no-repeat;
      background-size: 16px;

      &:focus {
        box-shadow: 0 0 10px $SuperlightBlue;
      }

      &::placeholder {
        color: #eeeeee80;
      }
    }

    .byContinent {
      margin-bottom: 15px;
    }
  }

  &-flags {
    .flags-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 30px;
      margin-bottom: 30px;
      gap: 2em;

      .flag-card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0.2em;
        // border: 0.001em dashed $SuperlightBlue;
        border-radius: 5px;
        transition: all 0.3s ease;

        img {
          width: 40px;
          height: 25px;
          border-radius: 5px;
          margin-right: 1em;
        }

        &-info {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-family: "Roboto", sans-serif;
          padding: 0px 5px;

          h4 {
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0.2em;
          }

          button {
            background: inherit;
            outline: none;
            border: none;
            cursor: pointer;
            margin-left: 0.5em;
            transition: all 0.3s ease;

            &:hover {
              filter: drop-shadow(0 0 0.3rem $SuperlightBlue);
              transform: translate(0px, 1px);
            }

            img {
              width: 22px;
              margin: 0;
            }
          }
        }

        &:hover {
          text-shadow: 0px 0px 0.4rem $SuperlightBlue;
          transform: translate(0px, 2px);
          box-shadow: 0px -0px 3px $SuperlightBlue;
        }
      }
    }
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 50;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    width: 340px;
    font-family: "Roboto", sans-serif;

    &-container {
      display: flex;
      flex-direction: column;
      padding: 1.3em;
      border-radius: 20px;
      background-color: $SuperlightBlue;
      color: $blackBackground;
      border: 3px solid $darkyBlue;

      .modal-header {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

        .modal-title {
          display: flex;
          flex-direction: column;
          align-items: center;

          img {
            width: 200px;
            border-radius: 15px;
            margin-bottom: 12px;
            border: 1px solid $darkyBlue;
          }

          h3 {
            text-align: center;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 2.2px;
            font-weight: 800;
          }
        }
      }

      .modal-content {
        margin-bottom: 30px;

        
        &-title {
          font-size: 20px;
          margin-bottom: 16px;
          font-weight: 500;
          letter-spacing: 2.2px;
          text-transform: capitalize;
        }
        
        p {
          text-transform: capitalize;
          font-weight: 400;
          letter-spacing: 1px;
          margin-bottom: 5px;
          font-size: 15px;
          
        }
        
        .noInfo{
          font-size: 15px;
          font-style: italic;
          color: red;
        }
        
        
          li {
            list-style: none;
            margin-bottom: 10px;
            margin-left: 20px;
            font-style: italic;
          }
        


        .map {
          display: inline;
        }

        .link {
          display: inline-block;
          cursor: pointer;
          text-decoration: none;
          color: $blackBackground;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          font-size: 15px;
          transition: all 0.2s ease-out;

          &:hover {
            color: $darkyBlue;
            font-weight: 600;
          }
        }

        

        &-borders {
          margin-top: 20px;
          display: flex;
        }
      }

      .modal-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        transition: all 0.2s ease;

        button {
          outline: none;
          background: $darkyBlue;
          border: 1px solid $darkyBlue;
          font-size: 16px;
          letter-spacing: 2.2px;
          color: $backgroundWhite;
          padding: 6px 30px;
          border-radius: 5px;
          cursor: pointer;
          transition: all 0.5s ease;

          &:hover {
            box-shadow: 0px 0px 10px $darkyBlue;
            background-color: $lightyBlue;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .countries {
    position: relative;

    &-filters {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      gap: 35px;

      .byCountries {
        display: flex;
        align-items: center;
        width: 20%;
      }

      .byContinent {
        display: flex;
        align-items: center;
        width: 20%;
        margin-bottom: 0;
      }

      .bySearch {
        width: 30%;
        display: flex;
      }

      label {
        margin-right: 10px;
      }

      select,
      input {
        width: 100%;
        margin-top: 0;
      }

      input {
        padding: 8px 12px;
        width: 100%;
        font-size: 16px;
        border-radius: 5px;
        font-family: "Roboto", sans-serif;
        background-image: url("../../assets/images/tiny-iconSearch.svg");
        background-position: right 15px center;
        background-repeat: no-repeat;
        background-size: 16px;

        &::placeholder {
          color: #eeeeee80;
        }

        &::-webkit-search-cancel-button {
          -webkit-appearance: none;
        }
      }
    }

    &-flags {
      .flags-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5em;
      }
    }
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 50;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    width: 60%;
    font-family: "Roboto", sans-serif;

    &-container {
      display: flex;
      flex-direction: column;
      padding: 1.9em;
      border-radius: 20px;
      background-color: $SuperlightBlue;
      color: $blackBackground;
      border: 4px solid $darkyBlue;

      .modal-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;

        .modal-title {
          display: flex;
          flex-direction: column;
          align-items: center;

          img {
            width: 250px;
            border-radius: 15px;
            margin-bottom: 15px;
            border: 1px solid $darkyBlue;
          }

          h3 {
            text-align: center;
            font-size: 30px;
            text-transform: uppercase;
            letter-spacing: 2.5px;
            font-weight: 800;
          }
        }
      }

      .modal-content {
        margin-bottom: 50px;

        
        &-title {
          font-size: 26px;
          margin-bottom: 20px;
          font-weight: 500;
          letter-spacing: 2.5px;
          text-transform: capitalize;
        }
        
        p {
          text-transform: capitalize;
          font-weight: 400;
          letter-spacing: 1.2px;
          margin-bottom: 7px;
          font-size: 18px;
          
        }
        
        .noInfo{
          font-size: 16px;
          font-style: italic;
          color: red;
        }
        
        
          li {
            list-style: none;
            margin-bottom: 10px;
            margin-left: 20px;
            font-style: italic;
          }
        


        .map {
          display: inline;
        }

        .link {
          display: inline-block;
          cursor: pointer;
          text-decoration: none;
          color: $blackBackground;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          font-size: 18px;
          transition: all 0.2s ease-out;

          &:hover {
            color: $darkyBlue;
            font-weight: 600;
          }
        }

        

        &-borders {
          margin-top: 20px;
          display: flex;
        }
      }

      .modal-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        transition: all 0.2s ease;

        button {
          outline: none;
          background: $darkyBlue;
          border: 1px solid $darkyBlue;
          font-size: 20px;
          letter-spacing: 2.5px;
          color: $backgroundWhite;
          padding: 8px 40px;
          border-radius: 5px;
          cursor: pointer;
          transition: all 0.5s ease;

          &:hover {
            box-shadow: 0px 0px 10px $darkyBlue;
            background-color: $lightyBlue;
          }
        }
      }
    }
  }
  
}
